* {
  font-family: "Raleway" !important;
}

.custom-linear-progress .MuiLinearProgress-bar {
  background-color: #f78b1e;
}

.custom-linear-progress.MuiLinearProgress-determinate {
  background-color: lightgrey !important;
  height: 3px;
}

.MuiInputBase-root {
  border-radius: 8px;
}

.MuiTypography-root,
.MuiFormLabel-root,
[data-testid="AccessTimeIcon"] {
  color: #172d5b;
}

.MuiRadio-root {
  padding-right: 4px !important;
}
